.btn-style {
    padding: 10px 20px;
    background: #e7dc06;
    color: white;
    font-weight: bolder;
    border-radius: 20px;
    font-size: 0.9rem;
    transition: all 0.2s ease-in;
    border-color: aliceblue;
  }
  .btn-style-secondary {
    padding: 10px 20px;
    background: white;
    color: rgb(222, 222, 14);
    font-weight: bold;
    border-radius: 20px;
    font-size: 0.9rem;
    transition: all 0.2s ease-in;
  }
  .btn-style:hover {
    cursor: pointer;
    background-color: whitesmoke;
    color: black;
  }
  .btn-style-secondary:hover {
    cursor: pointer;
    background-color: black;
    color: whitesmoke;
  }
  .signup-content-link {
    margin-top: 8px;
    font-size: 1rem;
  }