.footer {
    background-color: #f2f2f2;
    padding: 8px 0px;
    width: 100%;
    text-align: center;
    /* position: absolute; */
    bottom: 0;
    display: flex;
    grid-gap: 7rem;
    gap: 7rem;
    line-height: 2rem;
    justify-content: center;
  }
  
  .social-pill {
    display: inline;
    margin: 0px 3px;
    margin-left: 0rem;
    margin-right: 4rem;
    margin-inline: 1.5rem;
    color: #dfcd0b;
    /* font-size: 30px; */
    transition: color 0.3s ease;
  }
  
  .social-links a:hover {
    color: #555;
  }
  .copyright-text {
    margin-top: 10px;
  }
  .fa-brands {
    font-size: 1.6rem;
  }