.login-container-layout {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30%;
    /* border: 1px solid blue; */
    width: 100%;
    height: 100vh;
  }
  
  .login-container-form {
    width: 39%;
    text-align: center;
    height: 100vh;
  }
  .login-container-form-header {
    text-transform: uppercase;
    letter-spacing: 2.5px;
    text-shadow: 1px 1px 1px #857c7c;
  }
  .login-container-main-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .login-container-labeltag {
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2rem;
  }
  .login-container-input {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 80%;
  }
  .login-guest-btn {
    padding: 10px 20px;
    background: whitesmoke;
    color: #cec700;
    font-weight: bold;
    border-radius: 4px;
    font-size: 0.9rem;
    transition: all 0.2s ease-in;
    margin-top: 20px;
  }
  .login-guest-btn:hover {
    cursor: pointer;
    background-color: #d2d213;
    color: white;
  }