@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
* {
  font-family: "Noto Sans", sans-serif;
  /* scroll-behavior: smooth; */
}
*::selection {
  color: rgba(240, 238, 238, 0.642);
  background-color: rgb(216, 200, 18);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #f5cf0d;
}
.success-toast-message {
  border-radius: 20px;
  font-size: 0.9rem;
}

.App {
  display: flex;
  flex-direction: column;
}